<ion-header>
  
    <ion-navbar color="primary">
      <ion-title>Home</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
  
    <div margin-top *ngIf="!(items | async)">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
  
    <p text-center *ngIf="(items | async) == 0">Empty list.</p>
  
    <ion-list>
      <ion-item-sliding *ngFor="let item of items | async">
        <ion-item navPush="ItemPage" [navParams]="{ item: item }">
          <ion-thumbnail item-start>
            <img [src]="item.picture ? item.picture : 'assets/imgs/thumbnail.svg'">
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
          <p>{{item.size}}</p>
          <ion-note item-end>{{item.creationDate | date}}</ion-note>
        </ion-item>
  
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
    <ion-fab right bottom>
      <button ion-fab navPush="ItemPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  
  </ion-content>
  